cycler==0.11.0
fonttools==4.43.0
getostheme
glcontext==2.3.6
GPUtil==1.4.0
kiwisolver==1.4.4
matplotlib
moderngl
moderngl-window
MouseInfo
multipledispatch
numba
packaging
Pillow
psutil
py-cpuinfo
PyAutoGUI
pygame
PyGetWindow
pyglet
pyjoystick
PyMsgBox
pyparsing
pyperclip
PyRect
pyrr
PyScreeze
PySDL2
python-dateutil
pytweening
PyWavefront
resource-man
six
typeguard==2.13.3